{% block body_text %}
{% autoescape false %}
    Bonjour {{name}},
    <br>
    <br>
    Veuillez cliquer sur ce lien pour activer votre compte :
    <br>
    <br>
    {{ url }}
    <br>
    <br>
    L'équipe toppromo.fr
    <br>
    Cordialement,
    <br>
{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}