<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Toppromo</title>
    <title id="metaTitle">Toppromo, le meilleur des offres et promotions</title>
    <meta name="description" content="Retrouvez les top des promotions, avis et bons plans pour mieux choisir. Promotions, soldes, être alerté et informé par les meilleurs offres et promotions dans tous les secteurs">
    <meta name="keywords" content="Promotion, offres, soldes, bons plans, restauration, alert, tous les secteurs">
    <meta name="author" content="labiadh.com">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->

    <!-- Libs and Plugins CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/powerMailing/inc/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/powerMailing/inc/bootstrap/css/bootstrap-select.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/powerMailing/inc/bootstrap/css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/powerMailing/inc/animations/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/powerMailing/inc/font-awesome/css/font-awesome.min.css') }}"> <!-- Font Icons -->
    <link rel="stylesheet" href="{{ asset('bundles/powerMailing/inc/owl-carousel/css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/powerMailing/inc/owl-carousel/css/owl.theme.css') }}">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/powerMailing/css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/powerMailing/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/powerMailing/css/mobile.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/powerMailing/css/check-radio1.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/powerMailing/css/flatpickr.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/powerMailing/css/build.css') }}"/>

    <!-- Skin CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/powerMailing/css/skin/cool-gray.css') }}">
    <!-- <link rel="stylesheet" href="{{ asset('bundles/powerMailing/css/skin/ice-blue.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ asset('bundles/powerMailing/css/skin/summer-orange.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ asset('bundles/powerMailing/css/skin/fresh-lime.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ asset('bundles/powerMailing/css/skin/night-purple.css') }}"> -->

    <link rel="stylesheet" href="{{ asset('bundles/powerMailing/css/green.css') }}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-spy="scroll" data-target="#main-navbar">
<div class="page-loader"></div>  <!-- Display loading image while page loads -->
<div class="body">

<!--========== BEGIN HEADER ==========-->
<header id="header" class="header-main">
    <!-- Begin Navbar -->
    <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left: 125px;">
                <ul class="nav navbar-nav">
                    <li><a class="page-scroll" href="body">Accueil</a></li>
                    <li><a class="page-scroll" href="#about-section">Qui sommes-nous</a></li>
                    <li><a class="page-scroll" href="#portfolio-section">Inscrivez-vous</a></li>
                    <li><a class="page-scroll" href="#services-section">Nos engagements</a></li>
                    <li><a class="page-scroll" href="#partners-section">Nos partenaires</a></li>
                    <li><a class="page-scroll" href="#contact-section">Contactez-nous</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
    <!-- End Navbar -->

</header>

<!-- ========= END HEADER =========-->


<!-- Begin team-->
<section id="team-section" class="parallax" data-stellar-background-ratio="0.5"   style="background-image: url({{ asset('bundles/powerMailing/img/slider-bg.jpg') }});">
<!-- Begin page header-->
<div class="page-header-wrapper">
    <div class="container" style="padding-top: 70px;">
        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
        </div>
    </div>
</div>
<!-- End page header-->
<div class="container">
<div class="row">
<div class="team-items">
<div class="col-md-2">
    <div class="team-container wow bounceIn" data-wow-delay="0.2s">
        <div class="team-item">
            <div class="team-triangle">
                <div class="content">
                    <img src="{{ asset('bundles/powerMailing/img/team/Automobile.jpg') }}" alt="title"/>
                    <div class="team-hover text-center">
                        <i class="fa fa-car"></i>
                        <p>Automobile</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="team-container wow bounceIn" data-wow-delay="0.3s">
        <div class="team-item">
            <div class="team-triangle">
                <div class="content">
                    <img src="{{ asset('bundles/powerMailing/img/team/Finances.jpg') }}" alt="title"/>
                    <div class="team-hover text-center">
                        <i class="fa fa-bar-chart"></i>
                        <p>Economies & finances</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="team-container wow bounceIn" data-wow-delay="0.4s">
        <div class="team-item">
            <div class="team-triangle">
                <div class="content">
                    <img src="{{ asset('bundles/powerMailing/img/team/sante.jpg') }}" alt="title"/>
                    <div class="team-hover text-center">
                        <i class="fa fa-heartbeat"></i>
                        <p>Bien-être</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-2">
    <div class="team-container wow bounceIn" data-wow-delay="0.5s">
        <div class="team-item">
            <div class="team-triangle">
                <div class="content">
                    <img src="{{ asset('bundles/powerMailing/img/team/associatif.png') }}" alt="title"/>
                    <div class="team-hover text-center">
                        <i class="fa fa-users"></i>
                        <p>Associatif</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="team-container wow bounceIn" data-wow-delay="0.6s">
        <div class="team-item">
            <div class="team-triangle">
                <div class="content">
                    <img src="{{ asset('bundles/powerMailing/img/team/press.jpg') }}" alt="title"/>
                    <div class="team-hover text-center">
                        <i class="fa fa-rss"></i>
                        <p>Lecture & Presse</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="team-container wow bounceIn" data-wow-delay="0.7s">
        <div class="team-item">
            <div class="team-triangle">
                <div class="content">
                    <img src="{{ asset('bundles/powerMailing/img/team/gastronomie.jpg') }}" alt="title"/>
                    <div class="team-hover text-center">
                        <i class="fa fa-cutlery"></i>
                        <p>Restauration</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="team-container wow bounceIn" data-wow-delay="0.8s">
        <div class="team-item">
            <div class="team-triangle">
                <div class="content">
                    <img src="{{ asset('bundles/powerMailing/img/team/info.png') }}" alt="title"/>
                    <div class="team-hover text-center">
                        <i class="fa fa-mobile"></i>
                        <p>High-tech</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="team-container wow bounceIn" data-wow-delay="0.8s">
        <div class="team-item">
            <div class="team-triangle">
                <div class="content">
                    <img src="{{ asset('bundles/powerMailing/img/team/voyage.jpg') }}" alt="title"/>
                    <div class="team-hover text-center">
                        <i class="fa fa-plane"></i>
                        <p>Voyages</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="team-container wow bounceIn" data-wow-delay="0.8s">
        <div class="team-item">
            <div class="team-triangle">
                <div class="content">
                    <img src="{{ asset('bundles/powerMailing/img/team/mode.jpg') }}" alt="title"/>
                    <div class="team-hover text-center">
                        <i class="fa fa-female"></i>
                        <p>Mode</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="team-container wow bounceIn" data-wow-delay="0.8s">
        <div class="team-item">
            <div class="team-triangle">
                <div class="content">
                    <img src="{{ asset('bundles/powerMailing/img/team/brico.jpg') }}" alt="title"/>
                    <div class="team-hover text-center">
                        <i class="fa fa-gavel"></i>
                        <p>Bricolage</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="team-container wow bounceIn" data-wow-delay="0.8s">
        <div class="team-item">
            <div class="team-triangle">
                <div class="content">
                    <img src="{{ asset('bundles/powerMailing/img/team/famille.jpg') }}" alt="title"/>
                    <div class="team-hover text-center">
                        <i class="fa fa-child"></i>
                        <p>Famille</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="team-container wow bounceIn" data-wow-delay="0.8s">
        <div class="team-item">
            <div class="team-triangle">
                <div class="content">
                    <img src="{{ asset('bundles/powerMailing/img/team/jeux.jpg') }}" alt="title"/>
                    <div class="team-hover text-center">
                        <i class="fa fa-gamepad"></i>
                        <p>Jeux vidéo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="team-container wow bounceIn" data-wow-delay="0.8s">
        <div class="team-item">
            <div class="team-triangle">
                <div class="content">
                    <img src="{{ asset('bundles/powerMailing/img/team/arts.jpg') }}" alt="title"/>
                    <div class="team-hover text-center">
                        <i class="fa fa-book"></i>
                        <p>Art & culture</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="team-container wow bounceIn" data-wow-delay="0.8s">
        <div class="team-item">
            <div class="team-triangle">
                <div class="content">
                    <img src="{{ asset('bundles/powerMailing/img/team/sport.jpg') }}" alt="title"/>
                    <div class="team-hover text-center">
                        <i class="fa fa-futbol-o"></i>
                        <p>Sports</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
</div>
<div class="container">
    <div class="caption text-center text-vert" data-stellar-ratio="0.7" style="padding-top: 40px;padding-bottom: 30px">

        <div id="owl-intro-text" class="owl-carousel">
            <div class="item">
                <h1>Soyez alerté</h1>
                <p>Sur les promotions en cours</p>
                <div class="extra-space-l"></div>
                <a class="btn btn-blank page-scroll" href="#portfolio-section" target="_blank" role="button">Inscrivez-vous</a>
            </div>
            <div class="item">
                <h1>Découvrez</h1>
                <p>Le meilleur du web</p>
                <div class="extra-space-l"></div>
                <a class="btn btn-blank page-scroll" href="#portfolio-section" target="_blank" role="button">Inscrivez-vous</a>
            </div>
            <div class="item">
                <h1>Soyez informé</h1>
                <p>Sur des sujets qui vous intéressent</p>
                <div class="extra-space-l"></div>
                <a class="btn btn-blank page-scroll" href="#portfolio-section" target="_blank" role="button">Inscrivez-vous</a>
            </div>
        </div>

    </div> <!-- /.caption -->
</div> <!-- /.container -->
</div>
</div>

</section>
<!-- End team-->
<!-- Begin about section -->
<section id="about-section" class="pageRose bg-style1">
    <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                <h2>Qui sommes-nous</h2>
            </div>
        </div>
    </div>
    <!-- End page header-->

    <!-- Begin rotate box-1 -->
    <div class="rotate-box-1-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-8">
                    <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                        <span class="rotate-box-icon"><i class="fa fa-users"></i></span>
                        <div class="rotate-box-info">
                            <h4>Pourquoi vous inscrire ?</h4>
                            <p>Conçu et géré par Power-Mailing, TOPPROMO.fr est un service gratuit qui permet à une communauté d'internautes d'être informé sur des nombreuses promotions disponibles chez de nombreux marchands participants grâce à un programme d'e-mails marketing.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-8">
                    <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2s">
                        <span class="rotate-box-icon"><i class="fa fa-diamond"></i></span>
                        <div class="rotate-box-info">
                            <h4>Comment reçevoir nos programmes ?</h4>
                            <p>Pour rejoindre ce programme, il suffit de s'inscrire via notre formulaire d'inscription.
                                Notre programme permet de recevoir par e-mail des offres et des informations selon vos centres d'intérêt.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-8">
                    <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.4s">
                        <span class="rotate-box-icon"><i class="fa fa-heart"></i></span>
                        <div class="rotate-box-info">
                            <h4>Quelle est notre stratégie ?</h4>
                            <p>Power-Mailing accompagne les marques, associations et annonceurs sur
                                tous les canaux de communication. A travers ses expertises stratégiques et créatives,
                                Power-Mailing développe ainsi des stratégies de conquête et de fidélisation afin de satisfaire les attentes de ses clients
                                et approfondir sa connaissance client.</p>
                        </div>
                    </a>
                </div>

                <div class="container">
                    <!-- Cta Button -->
                    <div class="extra-space-l"></div>
                    <div class="text-center">
                        <a class="btn btn-default btn-lg-xl page-scroll" href="#portfolio-section" target="_blank" role="button">Inscrivez-vous</a>
                    </div>
                </div> <!-- /.container -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div>
</section>
<!-- End about section -->

<!-- Begin Portfolio -->
<section id="portfolio-section" class="page bg-style1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio">
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2 style="color:#4D9C7F">Inscrivez-vous</h2>
                                <div class="devider"></div>
                                <p class="subtitle" style="color:#4D9C7F">Ne rattez plus aucune prmotion</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact wow bounceInRight" data-wow-delay="0.4s">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="contact-form">
                                        <form role="form" action="{{ path('power_mailing_front_homepage') }}" method="post" class="form-horizontal">
                                            <div class="form-group">
                                                <input type="text" name="lastName" class="form-control input-lg" placeholder="Votre nom" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="firstName" class="form-control input-lg" placeholder="Votre prénom" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="email" class="form-control input-lg" placeholder="E-mail" required>
                                            </div>
                                            <div class="Form-section">
                                                <span><label style="color:#4D9C7F">Vous êtes ?</label></span>
                                                <label class="Form-label--tick">
                                                    <input type="radio" value="male" name="gender" class="Form-label-radio" checked>
                                                    <span class="Form-label-text" style="color: #519E82;">Homme</span>
                                                </label>
                                                <label class="Form-label--tick">
                                                    <input type="radio" value="female" name="gender" class="Form-label-radio">
                                                    <span class="Form-label-text" style="color: #519E82;">Femme</span>
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <input name="birthday" class="form-control input-lg" placeholder="Date de naissance" required type="date">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="address" class="form-control input-lg" placeholder="Adresse" required></textarea>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="postalCode" name="postalCode" class="form-control input-lg" placeholder="Code postal" required></textarea>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="city" name="city" class="form-control input-lg" placeholder="Ville" required></textarea>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="phone" class="form-control input-lg" placeholder="Tél" required></textarea>
                                            </div>
                                            {#<div class="Form-section">
                                                <span><label style="color:#4D9C7F">Centres d'intérêt :</label></span>
                                                <br/>
                                                <br/>
                                                {% for domain in allDomains %}
                                                    <label class="checkMailing">
                                                        <input type="checkbox" value="{{ domain.id }}" name="domain[]">
                                                        <span class="Form-label-text checkColorMailing">{{ domain.label }}</span>
                                                    </label>
                                                {% endfor %}
                                            </div>#}
                                            <div class="Form-section">
                                                <span><label class="titleCheckMailing">Centres d'intérêt :</label></span>
                                                <br>
                                                <br>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label class="checkMailing">
                                                            <input type="checkbox" value="1" name="domain[]">
                                                            <span class="Form-label-text checkColorMailing">Automobile</span>
                                                        </label>
                                                        <label class="checkMailing">
                                                            <input type="checkbox" value="2" name="domain[]">
                                                            <span class="Form-label-text checkColorMailing">Economies et finances</span>
                                                        </label>
                                                        <label class="checkMailing">
                                                            <input type="checkbox" value="3" name="domain[]">
                                                            <span class="Form-label-text checkColorMailing">Beauté santé et bien-être</span>
                                                        </label>
                                                        <label class="checkMailing">
                                                            <input type="checkbox" value="11" name="domain[]">
                                                            <span class="Form-label-text checkColorMailing">Bricolage et équipement de la maison</span>
                                                        </label>
                                                        <label class="checkMailing">
                                                            <input type="checkbox" value="5" name="domain[]">
                                                            <span class="Form-label-text checkColorMailing">Lecture et Presse</span>
                                                        </label>
                                                        <label class="checkMailing">
                                                            <input type="checkbox" value="6" name="domain[]">
                                                            <span class="Form-label-text checkColorMailing">Gastronomie et Restauration</span>
                                                        </label>
                                                        <label class="checkMailing">
                                                            <input type="checkbox" value="7" name="domain[]">
                                                            <span class="Form-label-text checkColorMailing">Informatique et high-tech</span>
                                                        </label>
                                                        <label class="checkMailing">
                                                            <input type="checkbox" value="8" name="domain[]">
                                                            <span class="Form-label-text checkColorMailing">Informations générales</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="checkMailing">
                                                            <input type="checkbox" value="9" name="domain[]">
                                                            <span class="Form-label-text checkColorMailing">Voyages et tourisme</span>
                                                        </label>
                                                        <label class="checkMailing">
                                                            <input type="checkbox" value="10" name="domain[]">
                                                            <span class="Form-label-text checkColorMailing">Mode</span>
                                                        </label>
                                                        <label class="checkMailing">
                                                            <input type="checkbox" value="4" name="domain[]">
                                                            <span class="Form-label-text checkColorMailing">Associatif et caritatif</span>
                                                        </label>
                                                        <label class="checkMailing">
                                                            <input type="checkbox" value="12" name="domain[]">
                                                            <span class="Form-label-text checkColorMailing">Famille</span>
                                                        </label>
                                                        <label class="checkMailing">
                                                            <input type="checkbox" value="13" name="domain[]">
                                                            <span class="Form-label-text checkColorMailing">Jeux vidéo</span>
                                                        </label>
                                                        <label class="checkMailing">
                                                            <input type="checkbox" value="14" name="domain[]">
                                                            <span class="Form-label-text checkColorMailing">Art et culture</span>
                                                        </label>
                                                        <label class="checkMailing">
                                                            <input type="checkbox" value="15" name="domain[]">
                                                            <span class="Form-label-text checkColorMailing">Sport</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <label class="checkMailing">
                                                <input id="check-validation" type="checkbox" name="validation" required>
                                                <span class="checkbox-submit Form-label-text checkColorMailing">Oui, j'accepte de recevoir des offres du programme TopPromo</span>
                                            </label>
                                            <button type="submit" class="btn wow bounceInRight" data-wow-delay="0.8s">Envoyez</button>
                                            <br/><br/><br/><br/><br/><br/>
                                        </form>
                                    </div>
                                </div>
                            </div> <!-- /.row -->
                        </div> <!-- /.container -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End portfolio -->

<!-- Begin Services -->
<section id="services-section" class="pageVert text-center">
    <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>Nos engagements</h2>
                <div class="devider"></div>
                <p class="subtitle">Votre satisfaction avant tout</p>
            </div>
        </div>
    </div>
    <!-- End page header-->

    <!-- Begin roatet box-2 -->
    <div class="rotate-box-2-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-8">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <span class="rotate-box-icon"><i class="fa fa-mobile"></i></span>
                        <div class="rotate-box-info">
                            <h4>Liberté</h4>
                            <p>Vous êtes libre de vous désabonner à tout moment, soit directement sur le site TOPPROMO.fr,
                                soit en cliquant sur le lien de désinscription présent dans les e-mails que vous recevez de part de TOPPROMO.fr.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-8">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                        <span class="rotate-box-icon"><i class="fa fa-pie-chart"></i></span>
                        <div class="rotate-box-info">
                            <h4>Transparence</h4>
                            <p>L'inscription au programme TOPPROMO.fr est entièrement gratuite et l'ensemble de vos données
                                personnelles sont protégées conformément à la Loi Informatique et Libertés.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-8">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                        <span class="rotate-box-icon"><i class="fa fa-cloud"></i></span>
                        <div class="rotate-box-info">
                            <h4>Ethique</h4>
                            <p>Nous proposons des offres qualitatives qui correspondent au mieux à vos souhaits. </p>
                        </div>
                    </a>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div>
    <!-- End rotate-box-2 -->
</section>
<!-- End Services -->
<!-- Begin partners -->
<section id="partners-section">
    <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2 style="color:#4D9C7F">Nos partenaires</h2>
                <div class="devider"></div>
                <p class="subtitle" style="color:#4D9C7F">Ils nous ont fait confiance et vous ?</p>
            </div>
        </div>
    </div>
    <!-- End page header-->
    <div class="container">
        <div id="owl-partners" class="owl-carousel">
            <img src="{{ asset('bundles/powerMailing/img/partners/1.png') }}" alt="img">
            <img src="{{ asset('bundles/powerMailing/img/partners/2.png') }}" alt="img">
            <img src="{{ asset('bundles/powerMailing/img/partners/3.png') }}" alt="img">
            <img src="{{ asset('bundles/powerMailing/img/partners/5.png') }}" alt="img">
            <img src="{{ asset('bundles/powerMailing/img/partners/6.png') }}" alt="img">
            <img src="{{ asset('bundles/powerMailing/img/partners/7.png') }}" alt="img">
        </div>
    </div>
</section>
<!-- End partners -->
<!-- Begin social section -->
<section id="social-section">

    <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2 style="color:#4D9C7F">Rejognez-nous</h2>
                <div class="devider"></div>
                <p class="subtitle" style="color:#4D9C7F">Suivez tous nos nouvelles</p>
            </div>
        </div>
    </div>
    <!-- End page header-->

    <div class="container">
        <ul class="social-list">
            <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s"><span class="rotate-box-icon"><i class="fa fa-facebook"></i></span></a></li>
            <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s"><span class="rotate-box-icon"><i class="fa fa-twitter"></i></span></a></li>
            <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.5s"><span class="rotate-box-icon"><i class="fa fa-google-plus"></i></span></a></li>
        </ul>
    </div>

</section>
<!-- End social section -->
<!-- Begin contact section -->
<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url({{ asset('bundles/powerMailing/img/map-bg.jpg') }});">
    <div class="cover"></div>

    <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>Contactez-nous</h2>
            </div>
        </div>
    </div>
    <!-- End page header-->

    <div class="contact wow bounceInRight" data-wow-delay="0.4s">
        <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <div class="contact-info">
                        <h4>Notre adresse</h4>
                        <ul class="contact-address">
                            <li><i class="fa fa-envelope"></i>contact@power-mailing.fr</li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="contact-form">
                        <h4>Ecrivez-nous</h4>
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" placeholder="Votre nom" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control input-lg" placeholder="E-mail" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" placeholder="Objet" required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control input-lg" rows="5" placeholder="Message" required></textarea>
                            </div>
                            <button type="submit" class="btn wow bounceInRight" data-wow-delay="0.8s">Envoyez</button>
                        </form>
                    </div>
                </div>

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div>
</section>
<!-- End contact section -->
<!-- Begin footer -->
<footer class="text-off-white">
    <div class="footer">
        <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
            <p class="copyright">Copyright &copy; 2015 - Designé par <a href="#" class="theme-author">labiadh.com</a> &amp; Développé par <a href="#" class="theme-author">labiadh.com</a></p>
        </div>
    </div>

</footer>
<!-- End footer -->

<a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->

</div><!-- body ends -->




<!-- Plugins JS -->
<script src="{{ asset('bundles/powerMailing/inc/jquery/jquery-1.11.1.min.js') }}"></script>
<script src="{{ asset('bundles/powerMailing/inc/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/powerMailing/inc/owl-carousel/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('bundles/powerMailing/inc/stellar/js/jquery.stellar.min.js') }}"></script>
<script src="{{ asset('bundles/powerMailing/inc/animations/js/wow.min.js') }}"></script>
<script src="{{ asset('bundles/powerMailing/inc/waypoints.min.js') }}"></script>
<script src="{{ asset('bundles/powerMailing/inc/isotope.pkgd.min.js') }}"></script>
<script src="{{ asset('bundles/powerMailing/inc/classie.js') }}"></script>
<script src="{{ asset('bundles/powerMailing/inc/jquery.easing.min.js') }}"></script>
<script src="{{ asset('bundles/powerMailing/inc/jquery.counterup.min.js') }}"></script>
<script src="{{ asset('bundles/powerMailing/inc/smoothscroll.js') }}"></script>
<script src="{{ asset('bundles/powerMailing/inc/bootstrap/js/bootstrap-select.js') }}"></script>
<script src="{{ asset('bundles/powerMailing/inc/bootstrap/js/bootstrap-select.min.js') }}"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>


<script src="{{ asset('bundles/powerMailing/js/icheck.js') }}"></script>


<!-- Theme JS -->
<script src="{{ asset('bundles/powerMailing/js/theme.js') }}"></script>
<script src="{{ asset('bundles/powerMailing/js/flatpickr.min.js') }}"></script>
<script src="{{ asset('bundles/powerMailing/js/powermailing.home.js') }}"></script>
<script>
    var example = flatpickr('#flatpickr');
    $(document).ready(function(){
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
            increaseArea: '20%' // optional
        });
    });
</script>

</body>
</html>
