<!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="refresh" content="5;url={{ path('power_mailing_front_homepage') }}" />
</head>

<body>
{% if validation == true %}
    <div class="alert alert-success">
        <span class="glyphicon glyphicon-ok"></span> <strong>Mail validé</strong>
        <hr class="message-inner-separator">
        <p>
            Félicitations, votre email a été bien validé. vous allez être rerédigés dans quelques secondes à notre site. Merci de votre visite</p>
    </div>
{% else %}
    <div class="col-sm-6 col-md-6">
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-hand-right"></span> <strong>Mail non validé</strong>
            <hr class="message-inner-separator">
            <p>
                Votre mail n'a pas été validé, merci de refaire l'inscription ou de contacter l'administrateur du site. . Merci de votre visite</p>
        </div>
    </div>
{% endif %}
</body>
</html>
